@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

/* * { cursor: */
/* url(../imgs/rymouse1.png) 0 0, auto; */
*{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'KOMACON';
}
